@import url('https://fonts.googleapis.com/css2?family=Jersey+10&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jersey+25&display=swap');


:root {
    --primary-color: #646cff;
    --secondary-color: #535bf2;
    --background-color: #242424;
    --card-background: #2a2a2a;
    --font: 'Jersey 10';
    --font-secondarycolour: #B3B3B3;
    --text-color: rgba(255, 255, 255, 0.87);
    --border-radius: 8px;
}

body {
    overflow: hidden;
    height: 100vh;
    display: flex;
    flex-direction: row;
    margin: 0;
    font-family: var(--font);
    background-size: 100% 100%;
    background-position: 0px 0px;
    background-image: radial-gradient(75% 75% at 90% 90%, #331C4FFF 1%, #221433 48%, #191122 100%);
    color: var(--text-color);
}
/*LEFT HEADER*/
.dashboard-left {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: rgb(24,16,34);
    background: linear-gradient(0deg, rgba(24,16,34,1) 0%, rgba(37,26,50,1) 100%);
}

.dashboard-left img {
    padding: 10px;
    width: 3rem;
    height: 3rem;

}

#dash-selection {
    flex: 1;
    display: flex;
    gap: 1.5rem;
    flex-direction: column;
    max-height: 100%;
    text-decoration: none;
    justify-content: end;
    font-size: 48px;
}

.dash-left-bottom {
    padding-bottom: 1rem;
}

.material-symbols-outlined {
    text-decoration: none;
    color: #4C4C4C;
}

/*MAIN WHOLE PAGE*/
.dashboard {
    flex: 19;
    width: 100%;
    padding: 2rem;
}

/*HEADER STUFF*/
.player-username {
    font-size: 26px;
    flex: 3;
    display: flex;
    align-items: center;
    justify-content: left;
    padding-left: 2rem;
}

.dashboard-header {
    border-radius: 20px;
    background: rgb(32,22,43);
    background: linear-gradient(270deg, rgba(32,22,43,1) 0%, rgba(22,10,27,1) 50%, rgba(32,22,43,1) 100%); 
    display: flex;
    flex-direction: row;
    margin-bottom: 2rem;
}

.user-stats {
    flex: 1.5;
    display: flex;
    gap: 1rem;
}

.stat-box {
    flex: 1;
    padding: 1.5rem;
    align-items: center;
    gap: 1rem;
}

.stat-info h3 {
    text-align: right;
    color: var(--font-secondarycolour);
    margin: 0;
    font-size: 1.5rem;
    opacity: 0.8;
}

.stat-info p {
    text-align: right;
    margin: 0.5rem 0;
    font-size: 2rem;
    font-weight: bold;
}

#userReputation {
    color: #1265FF;
}

#userCoins {
    color: #FFB412;
}
/*LEFT OF THE BOTTOM MAIN*/
.dashboard-main {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    height: calc(100% - 18vh);
}

.main-left {
    border-radius: 20px;
    flex: 5;
    gap: 30px;
    display: flex;
    flex-direction: column;
}

.user-games {
    flex: 2;
    border-radius: 20px;
    background: rgb(32,22,43);
    background: linear-gradient(270deg, rgba(32,22,43,1) 0%, rgba(22,10,27,1) 50%, rgba(32,22,43,1) 100%);
}

.matchmaking {
    flex: 8;
    border-radius: 20px;
    margin-bottom: 0;
    background: rgb(32,22,43);
    background: linear-gradient(270deg, rgba(32,22,43,1) 0%, rgba(22,10,27,1) 50%, rgba(32,22,43,1) 100%);
}

.main-right {
    border-radius: 20px;
    background: rgb(32,22,43);
    background: linear-gradient(270deg, rgba(32,22,43,1) 0%, rgba(22,10,27,1) 50%, rgba(32,22,43,1) 100%);
    flex: 2;
}

.section-title {
    margin: 0;
    padding: 0.5rem;
    color: #8800D9;
    font-size: 24px;
}

@media (prefers-color-scheme: light) {
    :root {
        --background-color: #ffffff;
        --card-background: #f5f5f5;
        --text-color: #213547;
    }
}