.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    background-color: #00000063;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.logo-small {
    height: 40px;
}

.profile-container {
    position: relative;
}

.profile-picture {
    width: 50px;  /* Decreased size */
    height: 50px;
    border-radius: 50%;
    cursor: pointer;
    border: 2px solid var(--primary-color);
    transition: border-color 0.3s ease;
}

.profile-picture:hover {
    border-color: var(--secondary-color);
}

.dropdown {
    display: none;
    position: absolute;
    top: 100%;
    right: 0;
    width: 200px;
    color: #fff;
    background-color: rgba(82, 82, 82, 0.392);
    border: 1px solid #3e009a;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
    z-index: 10;
}

.dropdown.active {
    display: block;
}

.dropdown-item {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: rgb(255, 255, 255);
}

.dropdown-item i {
    margin-right: 10px;
}

.dropdown-item:hover {
    background-color: rgba(255,255,255,0.1);  /* Subtle hover effect */
}

.dropdown-item:first-child {
    border-top-left-radius: var(--border-radius);
    border-top-right-radius: var(--border-radius);
}

.dropdown-item:last-child {
    border-bottom-left-radius: var(--border-radius);
    border-bottom-right-radius: var(--border-radius);
}

.dropdown-divider {
    height: 1px;
    background-color: #3e009a;
}